.expenses-chart {
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
    background-color: #f8dfff;
}

.chart-bars {
    display: flex;
    justify-content: space-around;
}

.chart-bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.chart-bar {
    height: 150px;
    width: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: #c2b5f3;
    border: 1px solid black;
    border-radius: 12px;

    &-fill {
        background-color: #4826b9;
        border-radius: 12px;
        width: 100%;
        transition: height 1s ease;
    }

}

.chart-bar-label {
    font-size: 12px;
}
  